
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!-- About, Practice Times, Map -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="about">
                @*<h3>About Louisville Kendo</h3>*@
                <p> Louisville Kendo Club is the local Kendo club for the greater Louisville area. Founded in 2004, Louisville Kendo Club is a non-profit organization dedicated to the practice and teaching of kendo and is affiliated with the East Central U.S. Kendo Federation (ECUSKF) and is part of the All United States Kendo Federation (AUSKF).<br> </p>
                <p style="padding-top: .5em">The concept and purpose of practicing kendo, according the All Japan Kendo Federation: </p>

                <b>Concept </b><br>
                Kendo is a way to discipline the human character through the application of the principles of the katana.<br>

                <p>
                    <b>Purpose</b><br>
                    To mold the mind and body.<br>
                    To cultivate a vigorous spirit<br>
                    And through correct and rigid training,<br>
                    To strive for improvement in the art of Kendo.<br>
                    To hold in esteem human courtesy and honor.<br>
                    To associate with others with sincerity.<br>
                    And to forever pursue the cultivation of oneself.<br>
                    Thus will one be able:<br>
                    To love one's country and society;<br>
                    To contribute to the development of culture;<br>
                    And to promote peace and prosperity among all peoples.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="timesLocation">
                <h3>Practice times</h3>
                <p><b>Saturday</b> 10:00AM-12:00PM<br> <b>Wednesday</b> 7:30PM-9:30PM</p>
                <p>These are our regular practice times.  However, occassionaly we are out of town or may have to cancel practice for some reason, so please contact us to ensure we will be having practice on a given day.</p> <br>
                <h3>Where we are located</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3134.5657967160446!2d-85.56678748569377!3d38.21997629419497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88690ca80f38a6df%3A0x20ecdb722f14e9c7!2sLouisville+Kendo+Club!5e0!3m2!1sen!2sus!4v1519591810468" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- End About, Practice Times, Map -->
